<p>
  <b>Long url:</b>
  <%=h @link.long_url %>
</p>

<p>
  <b>Short url:</b>
  <%= link_to(@link.short_url, @link.short_url) %>
</p>

<p>Share on <a href="http://www.facebook.com/sharer.php?u=<%=h @link.short_url %>" target="_blank">Facebook</a> or <a href="http://twitter.com/home?status=<%=h @link.short_url %>" target="_blank">Twitter</a></p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>